@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.header-box {
  &__subheader {
    display: flex;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}

.cattery-form {
  padding: 1rem;
}

.details {
  &__form {
    display: flex;
    flex-direction: column;
  }
}
