@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.page-wrapper {
  padding: 1rem;
  background-image: linear-gradient(
    209.59091784192668deg,
    rgba(252, 184, 162, 1) -1.7714723926380316%,
    rgba(255, 236, 210, 1) 76.05540644171779%
  );

  @include tablet {
    padding: 1.5rem;
  }
}

.header-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__subheader {
    display: flex;
    align-items: center;
    font-size: 0.75re;
    background-color: $global-color;
    padding: 1.5rem;
    border-bottom: 1px solid $outline-divider-color;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__text {
    padding-left: 0.5rem;
  }
}

.cattery-form {
  padding: 1.5rem;
  background-color: $global-color;
}

.details {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    padding-bottom: 0.25rem;
  }
  &__input {
    @include input-field;
  }

  &__select {
    @include input-field;
  }

  &__textarea {
    @include input-field;
    padding: 8px;
    height: 7.5rem;
    text-align: left;
  }

  &__subheader {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    margin: 0;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      gap: 6rem;
    }
  }
}

.buttons {
  @include flexed(row, space-between, center);
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: $global-color;
}

.cancel-btn {
  text-decoration: none;
  width: 50%;
  text-align: center;
  border: 1px solid $outline-divider-color;
  border-radius: 20px;
  padding: 0.5rem;
  &:hover {
    color: $interactive-color;
    border: 1px solid $interactive-color;
  }
  @include tablet {
    margin-right: 1rem;
  }
  @include desktop {
    width: 8%;
    margin-right: 1rem;
  }
}

.save-btn {
  @include save-btn;
  width: 50%;
}

.upload {
  width: 100%;
  background-color: #554b48;
  color: white;
}
