@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.dashboard {
  @include background-img;
  top: 0;
  position: fixed;
  width: 100%;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $global-color;
    opacity: 0.85;
    padding: 1.5rem;
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
  }

  &__add-new {
    @include save-btn;
    text-decoration: none;
    color: $global-color;
    width: 6.25rem;
    height: 2rem;
  }

  &__logout {
    color: $global-text-light;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    @include cancel-btn;
    width: 6.25rem;
    height: 2.1875rem;
    &:hover {
      color: $interactive-color;
    }
  }
}

.dashboard-list {
  padding: 1rem 2rem 2rem 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdc5d5;
    padding-bottom: 1rem;
  }

  &__title,
  &__breed {
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    justify-content: center;
  }
  &__card {
    padding: 2rem;
    margin-top: 2rem;
    @include cards;
    width: 37.5rem;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    gap: 1rem;
  }

  &__button {
    @include save-btn;
    text-decoration: none;
    color: $global-color;
    width: 5.125rem;
    height: 2rem;
  }

  &__delete {
    @include cancel-btn;
    width: 5.125rem;
    height: 2rem;
  }

  &__information {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #bdc5d5;
  }

  &__subtitle {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &__label {
    font-weight: 600;
  }
}
