@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.cattery-list {
  padding: 0 1rem;
  &__card {
    padding: 1rem;
    margin-top: 1rem;
    @include cards;
  }
}
