//Primary-colors
$global-text: #13182c;
$global-text-light: #393a3b;
$interactive-color: #feb700;
$global-color: white;

//Secondary-Colors
$table-placeholders-color: #5c667e;
$outline-divider-color: #bdc5d5;
$background-color: #f8edeb;

///Supporting-Colors
$delete-color: #c94515;
