@use "./mixins" as *;
@use "./variables" as *;
@use "./fonts" as *;

//Typography Rules

//Mobile

//Page Header
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $bold;
}

//Section Header
h2 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: $bold;
}

//Subheader
h3 {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: $bold;
}

body {
  p {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: $normal;
  }
}
.label,
.btn,
.links {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: $demi;
}

//Tablet & Desktop
@include tablet {
  //Page Header
  h1 {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: $bold;
  }

  //Section Header
  h2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: $bold;
  }

  //Subheader
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: $bold;
  }

  //Body Copy
  body {
    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: $normal;
    }
  }

  //Labels & Buttons
  .label,
  .btn,
  .links {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: $bold;
  }
}
