//Primary Colors
$primary-color: #323232; //
$primary-color-background: #ffffff; //White
$primary-color-neutral: #e5e5e5; //Silver
$primary-color-btn: #219ebc; //MeowFinder btn

//Secondary Colors:
$secondary-color: #000000; //Meowfinder-DarkBlack
$secondary-color-btn-hover: #023047; //MeowFinder-DarkBlue
$secondary-color-neutral: #e1e1e1; //Mercury
$secondary-color-background: #fafafa; //Alabaster
$secondary-color-details: #fca311;

//Media Query Breakpoints:
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
