@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.home {
  padding: 1rem;
  background-image: linear-gradient(
    121.93581883005288deg,
    rgba(226, 235, 239, 1) 12.645032632342279%,
    rgba(208, 218, 224, 1) 71.74583031182016%
  );
}

.hero {
  &__title {
    padding-bottom: 1rem;
    padding-top: 4.125rem;
  }
  &__img {
    padding-bottom: 1rem;
    text-align: center;
  }
}

.info {
  background-color: $global-color;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__title {
    padding-bottom: 1rem;
    text-align: center;
  }

  &__img {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__text {
    text-align: center;
    padding-bottom: 1rem;
  }

  &__icon {
    width: 3.5rem;
    height: 4.5rem;
  }

  &__link {
    text-decoration: none;
    font-size: 0.8125rem;
    text-align: center;
  }
}

.search {
  @include flexed(column, center, stretch);
  background-color: $global-color;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__button {
    padding-top: 0.625rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__btn {
    @include save-btn;
  }

  &__content-btn {
    font-size: 0.8125rem;
    font-weight: $demi;
    flex: 1;
  }

  &__select {
    @include input-field;
  }

  &__label {
    padding-bottom: 0.5rem;
  }

  &__icon {
    width: 15px;
    height: 15px;
    padding-right: 2px;
  }
}
