@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.catteries {
  padding: 1rem;
  background-image: linear-gradient(
    209.59091784192668deg,
    rgba(252, 184, 162, 1) -1.7714723926380316%,
    rgba(255, 236, 210, 1) 76.05540644171779%
  );

  &__title {
    padding-top: 4.125rem;
  }
}
