@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.header {
  background-color: $global-color;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.85;
  z-index: 1;

  @include desktop {
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__group-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    width: 9.375rem;
    height: 3.75rem;

    @include tablet {
      width: 11.25rem;
    }

    @include desktop {
      width: 15rem;
      height: 3.75rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $global-text;
    width: 100%;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $interactive-color;
    }
  }

  &__right {
    display: flex;
    gap: 1rem;

    @include desktop {
      gap: 2 rem;
    }
  }

  &__login {
    @include cancel-btn;
    width: 6.25rem;
    height: 2.1875rem;
  }
}
