@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.header {
  background-color: white;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.85;
}

.nav {
  display: flex;
  align-items: center;
  gap: 26%;

  &__logo {
    width: 150px;
    height: 50px;
  }

  &__link {
    text-decoration: none;
    color: $global-text;
    width: 100%;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $interactive-color;
    }
  }

  &__right {
    display: flex;
    gap: 1rem;
  }
}
