@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.mobile {
  @include tablet {
    display: none;
  }
}

.tablet {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.details__textarea__description {
  @include tablet {
    @include input-field-description;
  }
}
.upload-form {
  &__subheader {
    padding: 1rem 0;
  }

  &__photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;

    @include tablet {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  &__img {
    width: 225px;
    height: 9.375rem;
    object-fit: cover;
  }

  &__documents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    @include links;
  }
}
