@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.register {
  padding: 1.5rem;
  @include background-img;

  &__logo-link {
    padding-bottom: 1rem;
  }

  &__logo {
    width: 12.5rem;
  }

  &__background {
    background-image: url("../../assets/images/dayflowabstract.svg");
    background-repeat: no-repeat;
    object-fit: cover;
  }

  &__title {
    padding-bottom: 1rem;
    text-align: center;
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: $demi;
  }

  &__content {
    @include cards;
    padding: 1.5rem;
  }

  &__hero {
    @include flexed(column, center, center);
  }

  &__image {
    width: 230px;
  }

  &__input {
    @include input-field;
  }

  &__button {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

  &__btn {
    @include save-btn;
    color: $global-color;
    height: 2rem;
    width: 8.25rem;
  }

  &__login {
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: $background-color;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__login-content {
    font-weight: $demi;
    padding-bottom: 0.5rem;
  }

  &__link {
    @include links;
  }
}
