@use "../../styles/fonts" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.footer {
  background-color: $global-color;
  padding: 1rem;
  opacity: 0.85;

  @include tablet {
    padding: 1rem 2rem 1rem 2rem;
  }

  &__icon {
    width: 1.25rem;
    height: 0.875rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
  }

  &__media {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  &__text {
    color: $global-text-light;
  }
}
